# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
backend/venv/
.envs
ENV/
env/
env.bak/
deployment/docker/.env

# Jupyter
.ipynb_checkpoints/

# Logs and runtime
*.log
backend/*.log
nohup.out
*.sqlite3
backend/app/database/knowledge_base/
backend/knowledge_base/
deployment/docker/logs/*.*
chroma/
app/data/tmp/
*.jsonl

# Local configs and secrets
.env
backend/.env
*.pem
*.key
*.crt
*.bak

# IDE / Editor files
.vscode/
.idea/
.DS_Store

# Docker / Build cache
*.pid
*.sock
*.gz
*.tar
*.zip